.red{border: 1px solid red;}
.blue{border: 1px dashed blue;}
.menu{padding-top: 30px;}
.menu img{height:95px;}
.links a {padding-top:30px;color:black;text-decoration: none;font-size:20px;font-family: 'Roboto', sans-serif;font-weight: 600;float:right;}
.links .Home{color:#F1AF3E!important;}
.bg1{background-image: url(../post/assets/banner.jpg);background-size: cover;height:450px;margin-top: 30px;}
.bg1 p {font-family:'Kirang Haerang', cursive;padding-top:200px;text-align: right;font-size:70px;line-height:1;padding-right:60px;text-shadow:1px 1px #fff;}
.tweet{margin-top:30px;}
.tweet button{float:right;margin-top:10%;width:65%;background-color:#77C8E8;border:1px;border-radius:4px;border:1px;height:50px;}
.fun{margin-top:30px;}
.fun .bg2{background-image: url(../post/assets/cat2.jpg);background-size: cover;}
.kittytext{background-color:orange;color:#fff;font-size:1.1em;padding-top: 10%;text-align: center;}
hr{border: 2px solid white;  width:22%;border-radius:131%;font-weight: 600;}
.kittytext h1{font-family:'Kirang Haerang', cursive; }
.gang{margin-top:30px;}
.gang .bg3{background-image: url(../post/assets/cat3.jpg);background-size: cover;}
.kittygangs{background-color:#12bf51;color:#fff;font-size:1.1em;padding-top: 10%;text-align: center;}
.kittygans h1{font-family:'Kirang Haerang', cursive; }
.home{margin-top:30px;}
.home .bg4{background-image: url(../post/assets/cat1.jpg);background-size: cover;}
.takemehome{background-color:#12bf51;color:#fff;font-size:1.1em;padding-top: 10%;text-align: center;}
.takemehome h1{font-family:'Kirang Haerang', cursive; }
#pat{margin-top:30px;border-top:1px solid #ede6e6;border-bottom:1px solid #ede6e6;min-height:100px;background-image:url(../post/assets/pat.jpg);background-size: cover;overflow: hidden;}
.footer{margin-top:30px; padding-bottom: 30px;}
.footer img{height:60px;}
.footer .float{float:right;}
.take{padding-top:10px;font-family: 'Roboto', sans-serif;font-weight: 600;}


@media (max-width:360px) {
  [class*="col-md-"] {
        width: 100%;
}
